$light_purple: #E4DFE8;
$purple: #4e3b71;
$dark_purple: #2b1439;

$light_grey: #F0EFEE;
$grey: #DEDDDD;
$dark_grey: #4A4A4A;

// CSS3 Mixins
@import "_mixins/animation";
@import "_mixins/appearance";
@import "_mixins/background";
@import "_mixins/background-image";
@import "_mixins/background-size";
@import "_mixins/border-image";
@import "_mixins/border-radius";
@import "_mixins/box-shadow";
@import "_mixins/box-sizing";
@import "_mixins/columns";
@import "_mixins/custom";
@import "_mixins/flex-box";
@import "_mixins/image-rendering";
@import "_mixins/inline-block";
@import "_mixins/linear-gradient";
@import "_mixins/prefixer";
@import "_mixins/radial-gradient";
@import "_mixins/transform";
@import "_mixins/transition";
@import "_mixins/user-select";


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.row {
  margin-left: 0px;
  *zoom: 1;
}

.row:before,
.row:after {
  display: table;
  line-height: 0;
  content: "";
}

.row:after {
  clear: both;
}

[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 980px;
}

body {
	background-color: #FBFAF8;
	@include font("Lora", serif, 12px, 400);
	color: #363634;
}

a {
	@include font("Open Sans", sans, 13px, 600);
	color: $purple;
	&:hover { color: $dark_purple; }
	&:visited { color: $purple; }
}

.shadow {
	-webkit-box-shadow:  0px 2px 7px rgba(0, 0, 0, .15);
	   -moz-box-shadow:  0px 2px 7px rgba(0, 0, 0, .15);
	        box-shadow:  0px 2px 7px rgba(0, 0, 0, .15);
}

.row_margin {
	margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@include font("Open Sans", sans, inherit, 600);
}

h4 {
	@include font("Open Sans", sans, 16px, 600);
	color: $dark_grey;
	line-height: 18px;
}

.purple_title_bar {
	width: 97%;
	padding: 10px;
	margin: 20px 0;
	background-color: $light_purple;
	@include font("Open Sans", sans, 12px, 700);
	color: $purple;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

.grey_title_bar {
	width: auto;
	padding: 5px 10px;
	margin-bottom: 10px;
	background-color: $dark_grey;
	@include font("Open Sans", sans, 12px, 700);
	color: white;
	line-height: 18px;
}

.light_grey_title_bar {
	width: 95%;
	padding: 15px 20px;
	margin: 20px 0;
	background-color: $light_grey;
	@include font("Open Sans", sans, 12px, 700);
	color: $dark_grey;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

header {
	width: 100%;
	height: 95px;
	background: url(../img/headerbg.jpg) left top repeat-x;

	.logo {
		margin-top: 20px;
	}
	
	.header_links {
		line-height: 95px;
		color: white;
		font-style: italic;
		
		ul {
			margin-top: 25px;
			float: right;
			display: inline;
		}
		
		ul li {
			padding: 10px;
			float: right;
			display: inline;
		}
		
		ul li a {
			color: white;
			@include font("Georgia", serif, 12px, 400);
			&:hover { color: white; }
			&:visited { color: white; }
		}
		
		ul li.apply {
			background-color: rgba(0, 0, 0, 0.2);
		
			a {
				@include font("Open Sans", sans, 12px, 700);
				font-style: normal;
				letter-spacing: -.05em;
			}
		}
	}

}

nav {
	width: 100%;
	height: 40px;
	background: url(../img/navbg.jpg) left top repeat-x;
	margin: 0;
	
	.span10 { margin: 0; padding: 0; }
	
	.span2 {
		margin-left: 30px;
		text-align: right;
		float: right;
		
		input {
			color: #999;
			margin: 0;
			background-color: #47484A;
			border: none;
		}
	}
	
	ul {
		list-style: none;
		float: left;
		display: inline;
	}
	
	ul li {
		color: white;
		border-left: 1px solid #515156;
		float: left;
		display: inline;
	}
	
	ul li:first-child {
		border: none;
		margin-left: -20px;
	}
	
	ul li a {
		height: 40px;
		@include font("Open Sans", sans, 13px, 600);
		line-height: 40px;
		text-transform: uppercase;
		padding: 10px 13px;
		color: white;
		&:hover {
			background-color: rgba(0, 0, 0, 0.1);
			color: #eaeaea !important;
			text-decoration: none;
			@include trans(background-color, .2s, ease);
		}
		&:visited { color: white; text-decoration: none; }
		
	}
}

#home_banner {
	width: 100%;
	height: 600px;
	z-index: 1;
	
	#home_banner_info {
		width: 100%;
		height: 305px;
		padding: 10px;
		margin-left: -10px;
		margin-top: 275px;
		background-color: rgba(0,0,0,0.7);
		@include font("Georgia", serif, 12px, normal);
		line-height: 16px;
		color: #fff;
		z-index: 5 !important;
		
		h3 {
			margin: 0;
			padding: 0;
			@include font("Open Sans", sans, 18px, 600);
			line-height: 21px;
			color: #fff;
		}
		
		p {
		}
	}
	
	#home_banner_category {
		@include font("Open Sans", sans, 18px, 600);
		line-height: 50px;
		text-transform: uppercase;
		text-align: center;
	}
}

#news_content {
	padding-bottom: 20px;
	background-color: rgba(255,255,255,1);
	margin-top: -250px;
	margin-bottom: 40px;
	z-index: 10 !important;
}

.tweet {
	@include font("Gerogia", serif, 16px, normal);
	font-style: italic;
	line-height: 21px;
	margin-bottom: 20px;
}

.read_more {
	background-color: $light_purple;
	color: $purple;
	padding: 10px 20px;
	margin: 10px 0;
	float: left;
	@include border-radius(10px);
	
	a {
		@include font("Open Sans", sans, 13px, 600);
		color: $purple;
		
		&:visited { color: $purple; }
		&:hover { color: $dark_purple; text-decoration: none; }
	}
}

.event {
	
	.date {
		@include font("Open Sans", sans, 13px, 600);
		text-align: center;
		line-height: 14px;
		padding: 8px 10px 5px 10px;
		color: white;
		background-color: $dark_grey;
		float: left;
		display: inline;
		@include border-radius(5px);
		
		.day {
			@include font("Open Sans", sans, 20px, 600);
		}
		
		.month {
			@include font("Open Sans", sans, 10px, 600);
		}
	}
	
	.info {
		margin-left: 10px;
		float: left;
		display: inline;
		
		h4 {
			margin: 0;
		}
		
		p { margin: 0; }
	}
}

.home_feature {
	background-color: #fff;
	
	.info {
		width: auto;
		padding: 20px;
	}
}

.explore_acu {
	background-color: #fff;
	padding-bottom: 20px;
	margin-bottom: 10px;
	position: relative;
	
	.info {
		width: auto;
		padding: 20px;
	}
	
	.category {
		width: 100%;
		padding: 5px 0;
		text-align: center;
		@include font("Open Sans", sans, 10px, 600);
		letter-spacing: .4em;
		text-transform: uppercase;
		color: white;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	
	.academics_research { background-color: #772232; }
	.arts_culture { background-color: #A45B60; }
	.health_science { background-color: #254267; }
	.live_up { background-color: #A36042; }
	.mobile_learning { background-color: #31633F; }
	.on_campus { background-color: #A78145; }
	.student_life { background-color: #386B9A; }
	.wildcat_sports { background-color: #5A3B62; }
	.univ_honors { background-color: #796684; }
}

footer {
	text-align: center;
	
	.row {
		@include font("Georgia", serif, 13px, 400);
		height: 80px;
		line-height: 18px;
		background-color: white;
		margin: 30px 0;
		
		strong {
			@include font("Open Sans", sans, 16px, 700);
			line-height: 16px;
		}
		
		#logo {
			width: 4%;
			padding: 20px 2%;
			text-align: center;
			float: left;
			display: inline;
		}
		
		#title {
			width: 54%;
			padding: 20px 2%;
			text-align: left;
			background: url('../img/vert_dotted_bg.png') left top repeat-y;
			float: left;
			display: inline;
		}
		
		.phone {
			width: 13%;
			padding: 20px 2%;
			text-align: center;
			background: url('../img/vert_dotted_bg.png') left top repeat-y;
			float: left;
			display: inline;
		}
	}
	
}


/* Large desktop */
@media (min-width: 1200px) {

  .row {
    margin-left: 0;
    *zoom: 1;
  }
  
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 25px;
  }
  
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1200px;
  }
  
  nav ul li a {
	height: 40px;
	@include font("Open Sans", sans, 13px, 600);
	line-height: 40px;
	text-transform: uppercase;
	padding: 10px 20px;
	color: white;
	&:hover {
		background-color: rgba(0, 0, 0, 0.1);
		color: #eaeaea !important;
		text-decoration: none;
		@include trans(background-color, .2s, ease);
	}
	&:visited { color: white; text-decoration: none; }
	
}
  
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  .row {
    margin-left: 0px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 20px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 724px;
  }
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	
}
















